.fz-14 {
    font-size: 14px;
}

.fz-16 {
    font-size: 16px;
}

.fz-18 {
    font-size: 18px;
}

.fz-20 {
    font-size: 20px;
}

.fz-32 {
    font-size: 32px;
}

.fz-48 {
    font-size: 48px;
}

.fz-80 {
    font-size: 80px;
}

.fz-120 {
    font-size: 120px;
}

.lh-120 {
    line-height: 120%;
}

.lh-150 {
    line-height: 150%;
}

.b-60 {
    color: #919191;
}

.b-100 {
    color: #020202;
}