@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&display=swap');

.ns-tc4 {
  font-family: 'Noto Sans TC';
  font-weight: 400;
}

.ns-tc7 {
  font-family: 'Noto Sans TC';
  font-weight: 700;
}

.ns-tc9 {
  font-family: 'Noto Sans TC';
  font-weight: 900;
}