@import "commonStyles";
@import "notosanstc";
@import "googleIcons";

$max_width: 1296;

*,
*::before,
*::after {
    box-sizing: border-box;
    // outline: 1px solid red;
}

body {
    background: #000;
    color: #fff;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
}

.header img {
    height: 40px;
    margin: 20px 0;
}

.header a {
    font-size: 16px;
    line-height: 150%;
    margin-left: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title h2 {
    font-size: 120px;
    line-height: 120%;
    margin-bottom: 40px;
}

.title a {
    display: inline;
    font-size: 20px;
    line-height: 120%;
    padding: 20px 40px;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    margin-left: 2px;
    margin-bottom: 100px;
}

.title div {
    align-self: flex-end;
    margin-bottom: 160px;
}

.service_slogan {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    h3 {
        width: 414/$max_width*100%;
        margin-left: 2px;
        font-size: 32px;
        line-height: 120%;
    }

    p {
        width: 856/$max_width*100%;
        font-size: 48px;
        line-height: 120%;
    }
}

.services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;

    li {
        width: 416/$max_width*100%;

        padding: 80px 40px;

        border: 1px solid #525252;
        border-radius: 16px;

        img {
            margin-bottom: 20px;
        }

        h4 {
            font-size: 32px;
            line-height: 120%;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            line-height: 150%;
        }
    }
}

.partner {
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 80px;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 140px;

    img {
        height: 40px;
        margin-bottom: 20px;
    }

    img:first-child {
        margin-left: 118px;
    }

    img:nth-child(6) {
        margin-right: 118px;
    }
}

.feedback {
    display: flex;
    justify-content: space-between;

    li {
        width: 416/$max_width*100%;
        padding: 40px;
        background: rgba(255, 255, 255, 0.08);

        div:first-child {
            margin-bottom: 20px;
        }

        &>p {
            font-size: 16px;
            line-height: 150%;
            color: #F2F2F2;
            height: 215px;
        }

        .customer {
            display: flex;

            img {
                margin-right: 16px;
            }

            div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                p {
                    line-height: 150%;
                }

                p:first-child {
                    font-size: 16px;
                }

                p:nth-child(2) {
                    font-size: 14px;
                }
            }
        }
    }
}

.container2 {
    padding-top: 160px;

    h2 {
        font-size: 80px;
        line-height: 120%;
        text-align: center;
        color: #020202;
        margin-bottom: 80px-27px;
    }

    .search-bar {
        margin-bottom: 24px;

        .search-icon {
            position: relative;
            left: 43px;
            top: 47px;
        }

        .search {
            padding: 20px 40px 20px 76px;
            background: #F2F2F2;
            border-radius: 16px;
            width: 100%;
            border: 0;

            &::placeholder {
                color: #919191;
            }
        }
    }

    .menu-bar {
        display: flex;
        margin-bottom: 40px;

        .menu-btn {
            padding: 20px 40px;
            background: #FFFFFF;
            border: 1px solid #F2F2F2;
            border-radius: 16px;
            cursor: pointer;
        }

        .menu-filter {
            margin-right: 228px;

            span:first-child {
                margin-right: 12px;
            }
        }

        ul {
            display: flex;
            align-items: center;
            margin-right: 244px;

            li {
                margin-left: 8px;

                &:first-child {
                    margin-left: 0;
                }
            }

            button {
                padding: 8px 16px;
                border: 0;
                background: #fff;
                cursor: pointer;

                &:hover {
                    font-weight: 700;
                    background: #F2F2F2;
                    border-radius: 16px;
                }
            }
        }
    }

    .page-bar {
        display: flex;
        justify-content: flex-end;

        li {
        }

        a {
            text-decoration: none;
            display: inline-block;
            width: 48px;
            height: 48px;
            text-align: center;
            padding: (48px-14px)/2 0;

            &:hover {
                color: #FFFFFF;
                background: #020202;
                border-radius: 16px;
            }
        }
    }
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px-24px;
}

.card {
    width: 416px;
    /* outline: 1px solid #f2f2f2; */
    margin-bottom: 24px;
    border: 1px solid #f2f2f2;
    border-radius: 16px;

    img {
        display: block;
        border-radius: 16px 16px 0 0;
    }

    div {
        padding: 20px 32px;
        /* outline: 1px solid #f2f2f2; */
        border-top: 1px solid #f2f2f2;
    }

    h3 {
        color: #020202;
        margin-bottom: 12px;
    }

    p {
        height: 42px;
        color: #525252;
    }
}

.detail {
    display: flex;
    justify-content: space-between;
}